@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  background-color: #0a0a0a !important;
  color: white !important;
}